body {
    background-color: lightgrey;
}

h1 {
    font-size: 12px;
    text-align: left;
    margin-bottom: 7%;
    position: relative;
    left: 2%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 104vh;
}

#lab-info {
    border: 1px solid black;
    margin: 10px;
    padding-left: 20px;
    padding-bottom: 100px;
    width: 10vw;
}

#dom-table {
    border: 1px solid black;
    margin: 10px;
    padding-bottom: 100px;
    width: 75vw;
}

.grid {
    margin: 1em auto;
    border-collapse: collapse;
    height: 70vh;
    width: 50vw;
    background: white;
}

.grid td {
    cursor: pointer;
    width: 30px;
    /* height: 30px; */
    border: 1px solid #000000;
}

/* heavy lines between quadrants */
.grid tr:nth-child(10) {
    border-bottom: solid black;
}

.grid td:nth-child(11) {
    border-left: solid black;
}

/* draw grey circle in clicked cell */
.grid td.clicked {
    background-color: #666666;
    border-radius: 50%;
}

input[type=button] {
    position: relative;
    top: -110px;
    left: 1500px;
    padding: 10px;
    font-size: 18px;
}

#Easy {
    position: absolute;
    top: 48%;
    left: 18%;
}
#Boring {
    position: absolute;
    top: 87%;
    left: 47%;
}
#Hard {
    position: absolute;
    top: 48%;
    left: 78%;
}
#Interesting {
    position: absolute;
    top: 12%;
    left: 47%;
}
