* {
    margin: 0;
    color: #333333;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

#lab-info {
    min-width: 250px;
    flex: .25;
    align-items: center;
    margin: 10px;
    height: 97%;
    box-shadow: 0px 0px 8px 3px #cecece;
    margin-right: 10px;
    text-align: center;
}

#lab-info h3 {
    height: 20px;
    padding: 10px;
    background: #f9f9f9;
    color: black;
    margin-bottom: 10px;
}

#lab-info h3:first-of-type {
    height: 26px;
    padding: 20px 10px;
}

#lab-info p {
    margin-bottom: 30px;
}

.main {
    flex: .75;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px 3px #cecece;
}

#question {
    flex: .1;
    padding: 18px 23px;
    background: #f9f9f9;
    min-height: 30px;
}

h1 {
    font-size: 15px;
    color: black;
    line-height: 20px;
}

.rate_question {
    flex: .6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid td {
    cursor: pointer;
    border: 1px solid #000000;
    background-color: white;
}

.grid {
    margin: 20px;
    border-collapse: collapse;
    background: white;
    width: 550px;
    height: 450px;
}

.grid td {
    cursor: pointer;
    border: 1px solid #000000;
    background-color: white;
}


/* heavy lines between quadrants */

.grid tr:nth-child(10) {
    border-bottom: solid black;
}

.grid td:nth-child(11) {
    border-left: solid black;
}


/* draw grey circle in clicked cell */

.grid td.selected {
    background-color: black;
}

input {
    height: 42px;
    width: 130px;
    color: white;
    background: #0030a8;
    border: none;
    letter-spacing: 1px;
    border-radius: 5px;
}

input:hover {
    background: #042b8c;
    font-weight: bold;
}

.action {
    flex: .2;
    background: #f9f9f9;
    width: 96%;
    display: flex;
    padding: 10px 0;
    flex-direction: row-reverse;
    padding-right: 4%;
}

@media only screen and (max-width: 1000px) {
    #lab-info {
        flex-grow: 1;
    }
    .main {
        flex-grow: 1;
    }
}